<!DOCTYPE html>
<html>
<head>
  <title>Appointments</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag 'dhtmlx/dhtmlxcommon.js' %>
  <%= javascript_include_tag 'dhtmlx/dhtmlxgrid.js' %>
  <%= javascript_include_tag 'dhtmlx/dhtmlxgridcell.js' %>
  <%= javascript_include_tag 'dhtmlx/dhtmlxdataprocessor.js' %>

  <%= stylesheet_link_tag 'dhtmlx/dhtmlxgrid.css' %>
  <%= stylesheet_link_tag 'dhtmlx/skins/dhtmlxgrid_dhx_skyblue.css' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>